body
{
	min-width: 936px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
	color: #000;
}

/* ########## Standard elements ########## */
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0 0 0.7em 0;
	border: 0;
	font-family: 'century gothic', arial, helvetica, verdana, sans-serif;
	font-weight: bold;
}

h1
{
	padding: 1em 0 0.7em 0;
	font-size: 150%;
	/*font-weight: normal;*/
}

h2
{
	padding: 1em 0 0.7em 0;
	font-size: 120%;
}

h2.smaller
{
	font-size: 14px;
}

h2.medium
{
	padding-left: 1em;
	font-size: 15px;
}

h3
{
	padding: 1.4em 0 0.7em 0;
	font-size: 120%;
}

h3.smaller
{
	padding-left: 1em;
	font-size: 14px;
	font-style: italic;
	color: #666666;
}

h4
{
	padding: 1.2em 0 0.7em 0;
	font-size: 140%;
	font-style: italic;
}

h5
{
	padding: 1em 0 0.7em 0;
	font-size: 120%;
}

h6
{
	padding: 1em 0 0.7em 0;
	font-size: 110%;
}

p
{
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 2em 1em 2em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0.3em 0 1em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

td
{
	border: 1px solid #999;
	border: 0;
	border-collapse: collapse;
	padding: 5px 15px 5px 5px;
}

.odd
{
	background-color: #edf3fe;
}

.even
{
	background-color: #fff;
}

ol, ul
{
	display: block;
	margin: 0 0 0 3em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.cascadeloweralpha ol li,
.loweralpha { list-style-type: lower-alpha; }

.cascadeupperalpha ol li,
.upperalpha { list-style-type: upper-alpha; }

.cascadecircle ul li,
.circle { list-style-type: circle; }

cascadesquare li,
.square { list-style-type: square; }

li { margin: 0 0 0.8em 0; }

a { color: #09f; }

a:hover
{
	color: #06c;
	text-decoration: underline;
}

a:visited { color: #09f; }

img, img a { border: 0; }

.top
{
	border: 0;
	padding-top: 0;
	margin-top: 0;
}

hr
{
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}

.th1
{
	background-color: #c5d2e9;
	text-align: left;
	font-weight: bold;
	border: 1px solid #999;
}

.th2
{
	background-color: #ebeff5;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}

.th3
{
	background-color: #ebeff5;
	font-weight: bold;
	line-height: 120%;
}

label
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 120%;
}

.label
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 120%;
}


/* ########## Blocks style definitions ########## */
#page
{
	width: 936px;
	min-width: 936px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	background-color: #fff;
}

/* --- Header elements --- */

#header
{
	display: block;
	width: 936px;
	height: 109px;
	min-width: 936px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_header.png') left bottom no-repeat;
}

#logo_project, #logo_project a
{
	display: block;
	float: left;
	width: 260px;
	height: 96px;
	overflow: hidden;
	margin: 3px 0 0 10px;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_project.jpg') left center no-repeat;
}

#logo_ccnmtl, #logo_ccnmtl a
{
	display: block;
	clear: right;
	float: right;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl.gif') left top no-repeat;
}

#logo_project a, #logo_ccnmtl a
{
	float: none;
	margin: 0;
}

#logo_project span, #logo_ccnmtl span
{
	display: none;
}

#desc_project
{
	display: block;
	position: absolute;
	top: 70px;
	float: left;
	width: 400px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	padding-left: 113px;
	border: 0;
	font-size: 110%;
	color: #fff;
}

/* --- Standard navigation --- */

#standard_navigation
{
	display: block;
	float: right;
	overflow: hidden;
	margin: 0 10px 12px 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	line-height: 21px;
	list-style: none;
}

#standard_navigation li
{
	float: left;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
	list-style: 0;
}

#standard_navigation a
{
	color: #09f;
	font-weight: bold;
	text-decoration: none;
}

#standard_navigation a:hover
{
	color: #06c !important;
}

/* ---- globalnav block elements ---------- */
#globalnav
{
	width: 936px;
	height: 30px;
	line-height: 30px;
	min-width: 936px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_pagebody.png') left top repeat-y;
	font-size: 92%;
}

#globalnav a
{
	color: #390;
	text-decoration: none;
}

#globalnav a:hover
{
	color: #090;
	text-decoration: none;
}

#breadcrumbs
{
	float: left;
	margin: 0 0 0 18px;
}

ul.usernav
{
	display: block;
	height: 30px;
	line-height: 30px;
	float: right;
	overflow: hidden;
	margin: 0 18px 0 0;
	padding: 0;
	border: 0;
	list-style: none;
}

ul.usernav li
{
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 16px 0 10px;
	border: 0;
	color: #09f;
	list-style: 0;
	text-decoration: none !important;
}

ul.usernav li a
{
	display: block !important;
	color: #09f !important;
	text-decoration: none !important;
}

ul.usernav li a:hover,
ul.usernav li#logout a:hover
{
	color: #09f !important;
	text-decoration: none !important;
}

ul.usernav li#logout
{
	margin-right: 0;
	padding: 0;
	background: url('../img/icons.png') 0px 0px no-repeat;
}

ul.usernav li#logout a
{
	display: block !important;
	padding: 0 0 0 25px;
	color: #09f !important;
	text-decoration: none !important;
}

/* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 936px;
	min-width: 936px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_pagebody.png') left top repeat-y;
}

/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 936px;
	height: 30px;
	min-width: 936px;
	margin: 0;
	padding: 20px 0 0 0;
	border: 0;
	background: #fff url('../img/bg_footer.png') left bottom no-repeat;
	text-align: center;
}

#footer img
{
	margin: 0 2px;
	padding: 0;
	border: 0;
}

#footer a { text-decoration: none; }

/* ---- Sidebar Left block elements ---------- */
#leftCol
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #leftCol { display: block; }
.two_columns_left #leftCol { display: block; }
.two_columns_right #leftCol { display: none; }
.one_column #leftCol { display: none; }

/* ---- Sidebar Right block elements ---------- */
#rightCol
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #rightCol { display: block; }
.two_columns_left #rightCol { display: none; }
.two_columns_right #rightCol { display: block; }
.one_column #rightCol { display: none; }

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	width: 498px;
}

#squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

.three_columns #content { display: block; }

.two_columns_left #content,
.two_columns_right #content
{
	display: block;
	width: 719px;
}

.two_columns_right #squish { margin: 0 0 0 10px; }

.one_column #content
{
	display: block;
	float: none;
	width: 936px;
}

.top { margin-top: 0; }


/* ---- Block block elements ---------- */
.block, .widget
{
	display: block;
	margin: 0 10px 1em 10px;
	padding: 0;
	border: 0;
}

#squish .block
{
	margin-right: 25px;
	margin-left: 25px;
}

#leftCol .block, #leftCol .widget
{
	margin-left: 30px;
	padding: 0;
	border: 0;
}

/* ---- SideElem (in sidebar blocks) elements ---------- */
.sidebar_elems, .widget
{
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 130%;
}

.sidebar_elems h2, .widget h2, .widget-header
{
	margin: 0 0 0.7em 0;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-size: 108%;
}

.sidebar_elems .content, .widget-content
{
	margin: 0;
	padding: 0;
	border: 0;
}

.sidebar_elems ul,
.sidebar_elems ol,
.widget ul,
.widget ol
{
	margin: 0;
	padding: 0;
	border: 0;
}

.sidebar_elems li,
.widget li
{
	margin: 0 0 0.6em 0;
	padding: 0;
	border: 0;
	text-align: right;
}

.sidebar_elems ul,
.widget ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sidebar_elems ul li,
.widget ul li { padding: 0; }

.sidebar_elems a,
.widget a
{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

.sidebar_elems a:hover,
.widget a:hover
{
	color: #333;
	text-decoration: none;
}

.sidebar_elems li.active a,
.widget li.active a
{
	color: #339933;
	text-decoration: none;
}

#sidebarlogo
{
	margin-bottom: 2em;
	padding: 0;
	border: 0;
	font-size: 92%;
	line-height: 130%;
}

#sidebarlogo #logo_ccnmtl
{
	display: block;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl_sidebar.gif') left top no-repeat;
}

#sidebarlogo #logo_ccnmtl a
{
	display: block;
	width: 146px;
	height: 33px;
	margin: 0;
	padding: 0;
	border: 0;
}

#sidebarlogo #logo_ccnmtl span { display: none; }

/* Login page */

.loginbox
{
	float: right;
	width: 279px;
	margin: 0 20px;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_middle.gif') repeat-y top;
}

.loginbox .boxtop
{
	width: 279px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_top.gif') no-repeat top;
}

.loginbox .boxbottom
{
	width: 279px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_bottom.gif') no-repeat bottom;
}

.loginbox h2
{
	margin: 0 0 10px 10px !important;
	padding: 0 !important;
	border: 0 !important;
	font: bold 16px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
}

.loginbox h3
{
	margin: 0 0 10px 10px !important;
	padding: 0 !important;
	border: 0 !important;
	font: bold 1em Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
}

.loginbox .alert, .alert
{
	margin: 0 0 10px 10px !important;
	padding: 0 !important;
	border: 0 !important;
	font: bold italic 1em Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
	color: #c00;
}

.loginbox .alert a
{
	text-decoration: underline;
}

.loginbox hr
{
	height: 1px;
	margin: 15px 0;
	padding: 0;
	border: 0;
	background-color: #09c;
	color: #999;
}

.loginbox form
{
	margin: 0;
	padding: 0;
	border: 0;
}

.loginbox input.regButton
{
	margin: 0 0 0 10px;
	padding: 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	font: normal 1em Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	cursor: pointer;
}

.loginbox input.regButton:active
{
	background-color: #ccc;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.loginbox input#id_password,
.loginbox input#id_username
{
	width: 170px;
	margin: 0;
	padding: 2px;
	border: 1px solid #999;
	background-color: white;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	vertical-align: middle;
}

.loginbox table
{
	margin: 0 10px;
	padding: 0;
	border: 0;
}

.loginbox table td
{
	margin: 0;
	padding: 3px 2px 3px 0;
	border: 0;
}

.loginbox table td a
{
	font-size: 11px;
	color: #069;
	text-decoration: underline;
}

/* Stylized DIVS */

.create_case
{
	line-height: 30px;
	margin: 0 0 1em 1em;
	padding: 0 0 0 30px;
	border: 0;
	background: url('../img/icons.png') 0px -34px no-repeat;
}

.cases_actions
{
	line-height: 26px;
	height: 26px;
	margin: 0 0 0 10px;
	padding: 0 0 0 22px;
	border: 0;
	background: url('../img/icons.png') 0px -63px no-repeat;
}

.sticky_notes
{
	display: block;
	width: 400px;
	margin: 10px 0;
	padding: 5px;
	border: 0;
	font-size: 11px;
	font-style: italic;
	line-height: 150%;
	background-color: #ff9;
}

.paramsetheader
{
	width: 827px;
	margin: 1em 0 0 2px;
	padding: 3px 0 5px 10px;
	border-top: 1px solid #690;
	border-left: 1px solid #690;
	border-right: 1px solid #690;
	background-color: #efefef;
	font-size: 14px;
}

.pageblock
{
	margin: 0 0 0 1.5em;
	padding: 0.5em 0 1em 0;
	border: 0;
	border-bottom: 1px dotted #ccc;
}

.parameterset
{
	display: none;
	margin-left: 1em;
}

.parametersetdisplay input {
 border: 0px;
 background-color: #fff;
}

.ptitle,
.pfield,
.pmore
{
	display: block;
	float: left;
}

.ptitle {text-align: right; padding-right: 1em;}

.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 { width: 150px;}
.w175 {width: 175px;}
.w200 { width: 200px;}
.w250 { width: 250px;}

.instructions
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 11px;
	font-style: italic;
	line-height: 150%;
}

.downloadfiles
{
	display: block;
	margin: 0 0 0 40px;
	padding: 0;
	border: 0;
	width: 21px;
	height: 21px;
	background: url('../img/icons.png') 0px -94px no-repeat;
}

.downloadfiles span
{
	display: none;
}

/* Form elements */ 

input.regButton
{
	margin: 0 0.3em 0 0;
	padding: 1px 5px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	font: normal 92% Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	cursor: pointer;
}

input.regButton:active
{
	background-color: #ccc;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.form_text, .form_textarea, .form_multiselect
{
	margin: 0;
	padding: 2px;
	border: 1px solid #ccc;
	background-color: #edf3fe;
}

.form_select
{
	width: 200px;
	margin: 0;
	padding: 0;
}

/* TABBER STYLES */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide { display: none; }

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber { }

.tabberlive
{
	/*margin-top:1em;*/
	margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px solid #778;
	font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.tabbernav li a
{
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
	color: #000;
	background: #AAE;
	border-color: #227;
}

ul.tabbernav li.tabberactive a
{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
	color: #000;
	background: white;
	border-bottom: 1px solid white;
}

.tabberlive .tabbertab
{
	margin: 0;
	padding: 0;
	border: 0;
}

.dragging { background-color: #fed; }
.hs-hide { display: none; }
.hs-show { display: block; }

/* Customizing TABBER */

.parametergroup ul.tabbernav
{
	/*margin: 0;
	padding: 3px 0;
	font-family: arial, helvetica, verdana, sans-serif;*/
	float: left;
	width: 150px;
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.parametergroup ul.tabbernav li
{
	display: block;
	height: 30px;
	line-height: 30px;
	margin: -1px 0 0 0;
	padding: 0 0 0 10px;
	border: 0;
	list-style-type: none;
	background: transparent url('../img/bg_tabberoff.png') left top no-repeat;
}

.parametergroup ul.tabbernav li.tabberactive
{
	background: transparent url('../img/bg_tabberlive.png') left top no-repeat;
}

.parametergroup ul.tabbernav li a
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	text-decoration: none;
}

.parametergroup ul.tabbernav li a:link
{
	display: block;
	color: #09f;
}

.parametergroup ul.tabbernav li a:visited
{
	display: block;
	color: #09f;
}

.parametergroup ul.tabbernav li a:hover
{
	color: #000;
	background: transparent;
	border-color: none;
}

.parametergroup ul.tabbernav li.tabberactive a
{
	background-color: transparent;
	border-bottom: 0;
	font-weight: bold;
}

.parametergroup ul.tabbernav li.tabberactive a:hover
{
	color: #000;
	background: transparent;
	border-bottom: 0;
}

.parametergroup .tabbertab
{
	float: left;
	width: 690px;
	margin: -1px 0 0 -6px;
	padding: 5px 5px 5px 0;
	border: 1px solid #690;
}

.parametergroup label, .parametergroup .label
{
	font-size: 100%;
}

/* parametersubgroup */

.parametersubgroup ul.tabbernav
{
	/*margin: 0;
	padding: 3px 0;
	font-family: arial, helvetica, verdana, sans-serif;*/
	float: none;
	width: 660px;
	height: 31px;
	border: 0;
	border-left: 1px solid #999;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: url('../img/gray.png') 0 21px repeat-x;
}

.parametersubgroup ul.tabbernav li
{
	display: block;
	float: left;
	height: 31px;
	/*width: 80px;*/
	line-height: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #999;
	list-style-type: none;
	background: #fff url(none);
	font-size: 12px;
}

.parametersubgroup ul.tabbernav li.tabberactive
{
	border: 0;
	border-top: 1px solid #999;
	background: transparent url('../img/bg_subtabs_active.png') center 0 no-repeat;
}

.parametersubgroup ul.tabbernav li a
{
	display: block;
	height: 20px;
	margin: 0;
	padding: 0 5px;
	border: 0;
	/*border-top: 1px solid #999;
	background-color: #efefef;*/
	border-right: 1px solid #999;
	border-left: 1px solid #fff;
	text-decoration: none;
	background-color: #e0e0e0;
}

.parametersubgroup ul.tabbernav li a:link
{
	color: #448;
}

.parametersubgroup ul.tabbernav li a:visited
{
	display: block;
	color: #667;
}

.parametersubgroup ul.tabbernav li a:hover
{
	color: #000;
	background: #dae6c2;
	border-color: none;
}

.parametersubgroup ul.tabbernav li.tabberactive a
{
	background-color: transparent;
	border: 0;
	font-weight: bold;
	border-right: 1px solid #999;
}

.parametersubgroup ul.tabbernav li.tabberactive a:hover
{
	color: #000;
	border-bottom: 0;
}

.parametersubgroup .tabbertab
{
	float: none;
	width: 660px;
	margin: -10px 0 0 0;
	padding: 20px 0 0 0;
	border: 1px solid #999;
	border-top: 0;
}

.parametersubgroup label, .parametergroup .label
{
	font-size: 100%;
}

.paramatersave
{
	display: block;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border: 1px solid #ccc;
}

.run_progress
{
	margin-right: 0;
	margin-bottom: 1em;
	padding: 0 0 0 25px;
	background: url('../img/spinner.gif') 2px 6px no-repeat;
	line-height: 30px;
}

.run_done
{
	margin-right: 0;
	margin-bottom: 1em;
	padding: 0 0 0 25px;
	background: url('../img/icons.png') 0px -152px no-repeat;
	line-height: 30px;
}

.run_error
{
	margin-right: 0;
	margin-bottom: 1em;
	padding: 0 0 0 25px;
	background: url('../img/icons.png') 0px -122px no-repeat;
	line-height: 30px;
}

/* ########## Layout aide ########## */

.visualhide
{
	display: none !important;
}

.cloaked
{
	display: none;
}

/* Clearing block */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
}

.printonly { display: none; }

.plain
{
	border: 0;
	background: none;
}

.veryplain
{
	margin: 0;
	padding: 0 2px 2px 2px;
	border: 0;
	background: none;
}

.left_aligned { text-align: left; }

.right_aligned { text-align: right; }

.center_aligned { text-align: center; }

.inline
{
	display: inline;
}

.block
{
	display: block;
}

