{% load get %}

{% for system, counts in cost_histogram_counts.items %}
<h2 id="histogram-{{system}}">{{system}}</h2>
<div class="tabber">

  <div class="tabbertab" title="Histogram">
    <canvas id="{{case.id}}-g_histo{{forloop.counter0}}" width="500" height="350"></canvas>
  </div>
  
  <div class="tabbertab" title="Show raw data">
    <table id="{{case.id}}-d_histo{{forloop.counter0}}">
      <tbody>
	{% for bin, count in counts %}
	<tr>
	  <th scope="row">{{bin}}</th>
	  <td>{{count}}</td>
	  {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="tabbertab" title="Edit bin sizes">
  <h3>Histogram Bins</h3>
  <table>
    <tr>
      <td>
  <form id="histogram-form-{{system}}"
	action="#histogram-{{system}}"
	class="histogram_params" method="GET">
    {% for type, params in histogram_params.items %}
    {% ifnotequal type system.0 %}
    {% for param in params %}
    <input type="hidden" name="{{type}}" value="{{param}}" />
    {% endfor %}
    
    {% else %}
    {% for param in params %}
    <div>
      <input class="param" type="text"
	     name="{{type}}" value="{{param}}" 
	     onchange="validateAndRestyleForm(this.parentNode.parentNode)" />
    </div>
    {% if forloop.last %}
    <span class="finalParamCue">
      {{param}} and greater
    </span>
    <br />
    {% endif %}
    {% endfor %}

    <input type="submit" value="Change bin sizes" />
  </form>
      </td>
      <td>
  <div>
    <input type="text" class="newbin" />
    <br />
    <input type="text" class="newbin" />
    <br />
    <button onclick="newFormInterval(
		      this.parentNode,
	              document.getElementById('histogram-form-{{system}}'),
		      '{{type}}');
		     return false;">
      Add new bin
    </button>
  </div>
      </td>
    </tr>
  </table>

    {% endifnotequal %}
    {% endfor %}

  </div>

</div>

{% endfor %}
