{% load get %}

<div class="parametergroup outputgroup">
<div class="tabber">
{% for system, costs in cost_components.items %}
<div class="tabbertab">
<h3 id="cost-components-{{system}}">{{system}}</h3>
<table>
  <thead>
    <tr>
      <th scope="col">
	component
      </th>
      <th scope="col">
	cost (USD)
      </th>
      <th scope="col">
	percent of total cost
      </th>
    </tr>
  </thead>

  <tbody>
    {% for type, cost in costs.items %}
    <tr>
      <th scope="row">
	{{type}}
      </th>
      <td style="float: right">
	${{cost|floatformat:2|format}}
      </td>
      <td>
	{% with totals|getitem:system as total %}
	{{cost|percent_of:total|floatformat:2}}%
	{% endwith %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}
</div>
</div>

<div style="display: none;">
{% for system, cost in totals.items %}
{{system}}: {{cost}}
{% endfor %}
</div>
