{% load get %}

<table id="d_pop"
       style="display:none">
  <caption>Change in urban/rural population over time</caption>
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Urban population (total)</th>
      <th scope="col">Rural population (total)</th>
    </tr>
  </thead>
  <tbody>
    {% for year in years %}
    <tr>
      <th scope="row">{{year}}</td>
      <td>{{urban|getitem:year}}</td>
      <td>{{rural|getitem:year}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
