<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/site_media/css/main.css" media="all" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
	<!--[if lt IE 7]><script src="http://ccnmtl.columbia.edu/remote/alerts/browser/ienosupport.js" type="text/javascript" language="javascript"></script><link rel="stylesheet" href="http://ccnmtl.columbia.edu/remote/alerts/browser/ienosupport.css" type="text/css" media="all" /><![endif]-->
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
	<title>Network Planner Online - {% block title %}{% endblock %}</title>
</head>

<body class="one_column {% block widthtype %}fixed{% endblock %}">
{% comment %}
###### FOR WIDTH TYPE--
   fixed : fixed width, doesn't change with browser resize
   fluid : variable width, changes with browser resize
   You can move this to base template if you don't want to deal with it
   all time in flatpages templates
{% endcomment %}

<div id="page">


{% block masthead %}
	<!-- ###### Site banner ###### -->
	<div id="header">
		<!-- Project title/logo --><h1 id="logo_project"><a href="{% block baseurl %}/{% endblock %}" title="Network Planner Online"><span>Network Planner Online</span></a></h1>	
		<!-- Project description --><h2 id="desc_project" class="visualhide"><span>This is the project description</span></h2>	
		{% block standardnav %}
		<!-- Standard navigation --><ul id="standard_navigation">
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		{% endblock %}
		<!-- CCNMTL title/logo --><h4 id="logo_ccnmtl"><a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"><span>Produced by the Columbia Center for New Media Teaching and Learning</span></a></h4>
	</div><!-- id="header" -->
{% endblock %}

	<!-- ###### Don't touch this ###### -->
	<div class="visualclear"></div><!-- Clearing div -->
	

{% block primarynav %}
	<!-- ###### globalnavs ###### -->
	<div id="globalnav">
		<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
		
		{% comment %} not using this now{% block primarynavtabs %}{% endblock %} {% endcomment %}
			
		{% block usernav %}
		<ul class="usernav">
			{% if user.username %}<li>{% if user.first_name %}{{user.first_name}}
			{{user.last_name}}{% else %}{{ user.username }}{% endif %}</li>{% endif %}
			{% if user.username %}<li id="logout"><a href="/accounts/logout/">LOG OUT</a></li>{% endif %}
		</ul><!-- ul class="usernav" -->
		{% endblock %}

	</div><!-- id="globalnav" -->
{% endblock %}

	<!-- ###### Error banner for IE 7 users ###### -->
	<!--[if lt IE 7]><div id="browserwarning"></div><![endif]-->





	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">


		<!-- ###### Page Content ###### -->
		<div id="content">
			<div id="squish"><!-- Don't touch this div -->
				<div class="block">
					{% block pagetitle %}{% endblock %}

					{% block content %}{% endblock %}

				<!-- ###### Don't touch this ###### -->
				<div class="visualclear"></div><!-- id="visualclear" -->				

				</div><!-- class="block" -->
			</div><!-- id="squish" -->
		</div><!-- id="content" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
			
		{% block footer %}
			<!-- ###### Footer ###### -->
			<div id="footer">
			<p class="printonly"><br /><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly" /></p>
			</div><!-- id="footer" -->
		{% endblock %}


	</div><!-- id="pagebody" -->
</div><!-- id="page" -->

{% block endjs %}

{% endblock %}
</body>
</html>
