<script type="text/javascript"
	src="http://blackrock.ccnmtl.columbia.edu/site_media/js/bluff/js-class.js"></script> 
<script type="text/javascript" 
	src="http://blackrock.ccnmtl.columbia.edu/site_media/js/bluff/excanvas.js"></script> 
<script type="text/javascript" 
	src="http://blackrock.ccnmtl.columbia.edu/site_media/js/bluff/bluff-src.js"></script>

<script type="text/javascript">
    var g = new Bluff.Line('graph', '500x350');
    g.theme_rails_keynote();
    g.data_from_table('data');
    g.draw();
</script>
