{% extends 'base.html' %}
{% block title %}Your cases{% endblock %}

{% block js %}

{% include "bluff.html" %}

{% endblock %}

{% block content %}
  <div class="pageblock"><div class="sticky_notes"><a href="http://kodos.ccnmtl.columbia.edu/sb/zarina/npo_mockup/summary.html" target="_blank">Mockup version</a> for comparison</div></div>

<h1>{{case.name}}</h1>
<p>created {{case.created}}</p>
<p>last updated {{case.updated}}</p>

<h2>Rural vs urban population</h2>
<canvas id="g_pop" width="500" height="350"></canvas>
{% include "npo/output/population.html" %}

<h2>Demand</h2>
<canvas id="g_demand" width="500" height="350"></canvas>
<canvas id="g_demand2" width="500" height="350"></canvas>
{% include "npo/output/demand.html" %}

<h2>Total infrastructure count</h2>
{% include "npo/output/count.html" %}

<h2>Systems</h2>
{% include "npo/output/system_count.html" %}

{% include "npo/output/system_summary.html" %}



<form action="delete/" method="post">
<input type="submit" value="delete" />
</form>

{% endblock %}

{% block endjs %}
<script type="text/javascript">
  var g = new Bluff.Line('g_pop', '500x350');
  g.theme_rails_keynote();
  g.data_from_table('d_pop');
  g.draw();

  var g = new Bluff.Pie('g_demand', '500x350');
  g.theme_rails_keynote();
  g.data_from_table('d_demand');
  g.draw()

  var g = new Bluff.Bar('g_demand2', '500x350');
  g.theme_rails_keynote();
  g.data_from_table('d_demand');
  g.draw();

</script>
{% endblock %}
