{% extends 'base.html' %}
{% block title %}Your cases{% endblock %}


{% block js %}

<script src="http://openlayers.org/api/OpenLayers.js"></script>

<script>
function initmap() {

var map = new OpenLayers.Map('map');

map.addLayer(new OpenLayers.Layer.WMS('OpenLayers WMS',
             'http://labs.metacarta.com/wms/vmap0', 
             {layers: 'basic'}));

map.setCenter(new OpenLayers.LonLat(
              {{case.mean_lon}}, {{case.mean_lat}}),
              map.getZoomForExtent(
                new OpenLayers.Bounds(
                {{case.min_lon}}, {{case.min_lat}},
                {{case.max_lon}}, {{case.max_lat}}
)));

var features = {{case.geojson|safe}};
var geojson_format = new OpenLayers.Format.GeoJSON();
var vectorLayer = new OpenLayers.Layer.Vector();
map.addLayer(vectorLayer);
vectorLayer.addFeatures(geojson_format.read(features));
}
window.onload = initmap;
</script>

{% endblock %}

{% block content %}
  <div class="pageblock"><div class="sticky_notes"><a href="http://kodos.ccnmtl.columbia.edu/sb/zarina/npo_mockup/summary.html" target="_blank">Mockup version</a> for comparison</div></div>

<h1>{{case.name}}</h1>
<p>created {{case.created}}</p>
<p>last updated {{case.updated}}</p>

<div id="map"
     style="width: 500px; height: 300px;
	    border: 1px solid black;">
</div>

<h2>parameters:</h2>
<p>{{case.parameters}}</p>

<h2>stage one results</h2>
<p>{{case.stage_one_output}}</p>

<h2>stage two results</h2>
<p>{{case.stage_two_output}}</p>

<form action="delete/" method="post">
<input type="submit" value="delete" />
</form>

{% endblock %}
