{% extends 'base.html' %}
{% block title %}Your cases{% endblock %}
{% block breadcrumbs %}<a href="/">HOME</a> &gt; CASE SUMMARY{% endblock %}

{% block content %}
<h1>Case: {% if case.name %}{{case.name}}{% else %}{{case.pk}}{% endif %}</h1>
<p>created {{case.created|date}} at {{case.created|time}}</p>
<p>last updated {{case.updated|date}} at {{case.updated|time}}</p>

Sorry, no output is available for this case yet.

<div style="display:none;">
<h2>Parameters</h2>
{{case.parameters}}

<h2>Output</h2>
{{case.stage_one_output}}
</div>
{% endblock %}
