{% extends 'base.html' %}
{% block title %}Your cases{% endblock %}

{% block js %}

{% include "bluff.html" %}

{% endblock %}

{% block content %}
  <div class="pageblock"><div class="sticky_notes"><a href="http://kodos.ccnmtl.columbia.edu/sb/zarina/npo_mockup/summary.html" target="_blank">Mockup version</a> for comparison</div></div>

<h1>{{case.name}}</h1>
<p>created {{case.created}}</p>
<p>last updated {{case.updated}}</p>

<h2>Rural vs urban population</h2>
{% with "gpop" as graph_id %}
{% with "dpop" as data_id %}
{% include "npo/output/population.html" %}
{% endwith %}{% endwith %}

<form action="delete/" method="post">
<input type="submit" value="delete" />
</form>

{% endblock %}

{% block endjs %}
<script type="text/javascript">
  var g = new Bluff.Line('gpop', '500x350');
  g.theme_rails_keynote();
  g.data_from_table('dpop');
  g.draw();
</script>
{% endblock %}
