{% extends 'base.html' %}
{% load get %}
{% block title %}Create A New Case{% endblock %}
{% block breadcrumbs %}<a href="/">HOME</a> &gt; CREATE A NEW CASE{% endblock %}

{% block js %}
<script src="http://ccnmtl.columbia.edu/scripts/MochiKit/MochiKit.js" type="text/javascript" language="javascript"></script> 
<script src="/site_media/js/paramset.js" type="text/javascript" language="javascript"></script> 
<script src="/site_media/js/tabber.js" type="text/javascript" language="javascript"></script> 
<!--[if lt IE 7]><script src="http://ccnmtl.columbia.edu/remote/alerts/browser/ienosupport.js" type="text/javascript" language="javascript"></script><link rel="stylesheet" href="http://ccnmtl.columbia.edu/remote/alerts/browser/ienosupport.css" type="text/css" media="all" /><![endif]--> 
{% endblock %}

{% block content %}
<h1>Create A New Case</h1> 
 
<form method="post" action="."> 
  
  <div class="pageblock"><div class="sticky_notes"><a href="http://kodos.ccnmtl.columbia.edu/sb/zarina/npo_mockup/createcase.html" target="_blank">Mockup version</a> for comparison</div></div>
  
  <div class="pageblock"> 
    <label for="case_title">Case name:</label><br /> 
    <input name="title" id="case_title" class="form_text" type="text" size="60" maxlength="128" /> 
  </div><!-- class="pageblock" Case Name --> 
 
  <div class="pageblock"> 
    <label for="case_title">Load base data:</label><br /> 
    <div class="instructions">Pithy instructions go here...</div><!-- class="instructions" --> 
    <select id="preloaded" class="form_select" name="dataset"> 
      <option value="" selected="selected">Select...</option> 
      <option value="leona">Leona</option> 
      <option value="kenya">Kenya</option> 
    </select> 

  </div><!-- class="pageblock" Load Base Data --> 
  
  <div class="pageblock"> 
    <span class="label">Metric model name:</span> &nbsp;&nbsp;<b>mvMax</b> 
  </div><!-- class="pageblock" Model Name --> 
  
  <div class="pageblock"> 
    <label for="case_title">Case parameters:</label><br /> 
    <div class="instructions">Select a parameter set</div><!-- class="instructions" --> 
    
    <select id="selectParamSet" class="form_select" onchange="toggleParam(this.options[selectedIndex].value);reset()"> 
      <option value="" selected="selected">Choose a parameter set...</option> 
      <option value="paramset-0">Default set</option> 
      {% for case in cases %}
      <option value="paramset-{{case.id}}">Saved Case: {{case.name}}</option> 
      <!-- need to match these in the divs as well... -->
      {% endfor %}
    </select> 

{% with "0" as paramsetid %}
{% with "Default set" as paramsettitle %}
{% with defaults as params %}
{% include "npo/paramset_form.html" %}  
{% endwith %}
{% endwith %}    
{% endwith %}
      
      <div class="paramatersave"> 
	<p class="alert">Warning: You have made changes to this parameter set</p> 
	
	<div> 
	  
	  <label for="xyzxyzxyz">Save this set as:</label> 
	  <input name="xyzxyzxyz" id="xyzxyzxyz" class="form_text" type="text" size="20" maxlength="128" /> <input type="button" value="Save" class="regButton" /> 
	</div> 
	
	<div style="margin-top: 2em;"> 
	  <input type="button" value="Save" class="regButton" /> <input type="button" value="Save as:" class="regButton" /> <input name="xyzxyzxyz" id="xyzxyzxyz" class="form_text" type="text" size="20" maxlength="128" /> 
	</div> 
	
      </div><!-- class="paramatersave" --> 

    <div class="visualclear"></div> 
  </div><!-- class="pageblock" Case Parameters --> 


{% for case in cases %}  
{% with case.id as paramsetid %}
{% with case.name as paramsettitle %}
{% with case.parameters_dict as params %}
{% include "npo/paramset_form.html" %}      
{% endwith %}
{% endwith %}
{% endwith %}
{% endfor %}
    <div class="visualclear"></div> 
  </div><!-- class="pageblock" Case Parameters --> 

  
	<div class="pageblock">
		<h3>Network Model</h3>
	
		<div class="pageblock">
		<span class="label">Model name:</span> &nbsp;&nbsp;<b>Modified-Kruskal</b>
		</div><!-- class="pageblock" Model Name -->
		
		<h3 class="smaller">Algorithm</h3> 
		  
		<div class="pageblock"> 
			<div class="ptitle"><label for="network>algorithm>search_radius_in_meters">Search radius:</label></div><!-- ptitle --> 
			<div class="pfield">
<input name="network>algorithm>search_radius_in_meters"
       id="network>algorithm>search_radius_in_meters"
       class="form_text" type="text" size="10" value="{{defaults.network.algorithm|get:"search radius in meters"}}"
maxlength="128" /> meters</div><!-- pfield --> 
			<div class="visualclear"></div> 
		</div><!-- class="pageblock" --> 
	
		<h3 class="smaller">Network</h3> 
		  
		<div class="pageblock plain"> 
			<div class="ptitle"><label for="network>algorithm>minimum_node_count_per_subnetwork">Minimum node count:</label></div><!-- ptitle --> 
			<div class="pfield"><input name="network>algorithm>minimum_node_count_per_subnetwork" 
id="network>algorithm>minimum_node_count_per_subnetwork"
						   class="form_text"
						   type="text"
						   size="10"
						   maxlength="128" 
						   value="{{defaults.network.algorithm|get:"minimum node count per subnetwork"}}"
/></div><!-- pfield --> 
			<div class="visualclear"></div> 
		</div><!-- class="pageblock" --> 
	
	</div><!-- class="pageblock" Network Model -->
  
  <div class="pageblock"> 
    <input type="submit" value="Run case" class="regButton" /> 
    <input type="button" value="Run case without saving paramenter set" class="regButton" /> 
  </div><!-- class="pageblock" Load Base Data --> 
  
  
</form> 

{% endblock %}
