{% extends 'base.html' %}
{% block title %}Your Cases{% endblock %}

{% block breadcrumbs %}<a href="/">HOME</a>{% endblock %}

{% block content %}
<h1>Your Cases</h1> 
				
<div class="create_case"> 
  <a href="/case/create/">Create a new case</a> 
</div><!-- class="create_case" --> 
				
{% if cases %}
<form method="post" action="/bulk/"> 
  <div class="cases_actions"> 
    <input type="submit" name="compare" value="Compare summaries" class="regButton" /> 
    or
    <input type="submit" name="delete" value="Delete" class="regButton" /> 
  </div> 
  
  <table border="0" cellspacing="0" cellpadding="0"> 
    <thead> 
      <tr> 
	<th class="th3">&nbsp;</th> 
	<th class="th3">Saved cases</th> 
	<th class="th3">Download<br />case output files</th> 
      </tr> 
    </thead> 
    <tbody> 
      {% for case in cases %}
      <tr class="{% cycle 'even' 'odd' %}"> 
	<td><input type="checkbox" name="case_{{case.id}}" /></td> 
	<td><a href="{{ case.get_absolute_url }}" title="View summary of output for this case">Case {{case.name}}</a></td> 
	<td class="center_aligned">
	  {% ifequal case.status "started" %}
	  [run is in progress]
	  {% else %}
	  {% if case.output_file %}
	  <a href="{{case.output_file.url}}" class="downloadfiles" 
	     title="Click to download output files for this case"><span>Download
	      files</span></a>{% else %}
	  <a href="http://october.mech.columbia.edu/jobs" class="downloadfiles" 
	     title="Click to download output files for this case"><span>Download
	      files</span></a>{% endif %}{% endifequal %}

	</td> 
      </tr> 
      {% endfor %}
    </tbody> 
  </table> 
  
</form> 
 
{% else %}
<p>You have no saved case(s)</p>
{% endif %}

{% endblock %}
