{% load get %}
{% load idify %}
{% with params.metric|get:section as sectiondict %}
{% with sectiondict|get:key as value %}
{% with section|idify as sectionid %}
{% with key|idify as keyid %}

<div class="pageblock"> 
  <div class="ptitle {{divwidth}}"><label for="select-paramset-{{paramsetid}}-metric>{{sectionid}}>{{keyid}}">{{label}}:</label></div>
  <div class="pfield"> 
    <table class="veryplain"> 
      <tbody> 
	<tr> 
	  <td class="veryplain" colspan="2"> 
	    <div class="instructions">To add, enter value and click Add.<br />To remove, highlight value and click Remove.</div><!-- class="instructions" --> 
	  </td> 
	</tr> 
	<tr> 
	  <td class="veryplain" style="text-align: right;"> 
	    <input 
	       id="input-paramset-{{paramsetid}}-metric>{{sectionid}}>{{keyid}}" 
	       class="form_text" type="text" onFocus="this.value=''"
	       size="9" maxlength="128" value="Enter value" /> 
	    <input type="button" value="Add &#187;"
		   class="regButton" 
		   onclick="AddListItem('paramset-{{paramsetid}}-metric>{{sectionid}}>{{keyid}}')"/> 
	    <hr style="margin: 5px 0;" /> 
	    <input type="button" value="&#171; Remove" class="regButton" 
		   onclick="RemoveListItems('paramset-{{paramsetid}}-metric>{{sectionid}}>{{keyid}}')"/> 
	  </td> 
	  <td class="veryplain"> 
	    <select size="5" multiple="multiple"
		    id="select-paramset-{{paramsetid}}-metric>{{sectionid}}>{{keyid}}" 
		    name="paramset-{{paramsetid}}-metric>{{sectionid}}>{{keyid}}"
		    class="form_multiselect w100"> 
	      {% for o in sectiondict|getlist:key %}
	      <option value="{{o}}">{{o}}</option>
	      {% endfor %}
	    </select> 
	  </td> 
	</tr> 
	<tr> 
	  <td class="veryplain" colspan="2"> 
	    <div class="instructions">{{instructions}}</div>
	  </td> 
	</tr> 
      </tbody> 
  </table></div>
  <div class="visualclear"></div> 
</div>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
