{% load get %}
<!-- STARTCASE -->
<div class="parameterset" id="paramset-{{paramsetid}}"> 
  <h2 class="paramsetheader">Selected parameter set: {{paramsettitle}}</h2>							
  <div class="parametergroup"> 
    <div id="tabber-0" class="tabber"> 
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Financing"> 
	    
	    {% with "finance" as section %}
	    {% with "w150" as divwidth %}

	    {% with "Time horizon" as label %}
	    {% with "year(s)" as units %}
	    {% with "time horizon in years" as key %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}

	    {% with "Economic Growth Rate Per Year" as label %}
	    {% with "" as units %}
	    {% with "economic growth rate per year" as key %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}

	    {% with "Elasticity of Electricity Demand" as label %}
	    {% with "" as units %}
	    {% with "elasticity of electricity demand" as key %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}

	    {% with "Annual interest rate" as label %}
	    {% with "" as units %}
	    {% with "yearly interest rate" as key %}
	    {% with "(e.g. 0.02 for 2%)" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% endwith %}
	    {% endwith %}
	    
	  </div><!-- tabbertab Financing --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Demographics"> 
	    

	    {% with "demographics" as section %}
	    {% with "w200" as divwidth %}

	    {% with "Annual population growth rate" as label %}
	    {% with "" as units %}
	    {% with "population growth rate per year" as key %}
	    {% with "(e.g. 0.02 for 2%)" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Mean household size (rural)" as label %}
	    {% with "person(s)" as units %}
	    {% with "mean household size (rural)" as key %}
	    {% with "" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Mean household size (urban)" as label %}
	    {% with "person(s)" as units %}
	    {% with "mean household size (urban)" as key %}
	    {% with "" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Urban population threshold" as label %}
	    {% with "person(s)" as units %}
	    {% with "urban population threshold" as key %}
	    {% with "(minimum population of community when considered urban)" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Mean interhousehold distance" as label %}
	    {% with "meters" as units %}
	    {% with "mean interhousehold distance in meters" as key %}
	    {% with "" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Population Count" as label %}
	    {% with "meters" as units %}
	    {% with "population count" as key %}
	    {% with "" as instructions %}
	    {% include "npo/simple_param_block.html" %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}


	    {% endwith %}
	    {% endwith %}
	    
	  </div><!-- tabbertab Demographics --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Demands"> 
	    <div class="visualclear"></div><!-- ### Begin Demand groupings ### --> 
	    <div class="pageblock parametersubgroup"> 
	      <div id="tabber" class="tabber"> 
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Household"><!-- Demand: Household --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">The following parameters refer to energy demands to power domestic lighting and other household electrical equipment, such as televisions or radios.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 

		  {% with "demand (household)" as section %}
		  {% with "w150" as divwidth %}

		  {% with "Base household unit demand" as label %}
		  {% with "kW/year" as units %}
		  {% with "household unit demand per household in kilowatt-hours per year" as key %}
		  {% with "(per household)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% endwith %}{% endwith %}
		  
		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(household)>demand_curve_points_(population_and_multiplier)">Household demand curve:</label></div><!-- ptitle --> 

		    {% with "household" as type %}

		    <div class="pfield"> 
		      <table id="table-demand-{{type}}" class="veryplain"> 
			<thead>
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Scaling factor
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (household)" as section %}
			    {% with "demand curve points (population and multiplier)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(household)>demand_curve_points_(population_and_multiplier)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(household)>demand_curve_points_(population_and_multiplier)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(household)>demand_curve_points_(population_and_multiplier)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(household)>demand_curve_points_(population_and_multiplier)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}
			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}
		    
		    <div class="visualclear"></div> 
		    
		    <div class="ptitle w150"><span class="label">Demand curve type :</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Household --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Productive"><!-- Demand: Productive --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">These parameters refer to energy demands to power household level of access to productive infrastructure, such as water pumps, agro-processing, equipment, and mills.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  {% with "demand (productive)" as section %}
		  {% with "w150" as divwidth %}

		  {% with "Base productive unit demand" as label %}
		  {% with "kW/year" as units %}
		  {% with "productive unit demand per household in kilowatt-hours per year" as key %}
		  {% with "(per household)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% endwith %}{% endwith %}

		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(productive)>demand_curve_points_(population_and_multiplier)">Productive demand curve:</label></div><!-- ptitle --> 

		    {% with "productive" as type %}

		    <div class="pfield"> 
		      <table id="table-demand-{{type}}" class="veryplain"> 
			<thead> 
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Scaling factor
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (productive)" as section %}
			    {% with "demand curve points (population and multiplier)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(productive)>demand_curve_points_(population_and_multiplier)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(productive)>demand_curve_points_(population_and_multiplier)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(productive)>demand_curve_points_(population_and_multiplier)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(productive)>demand_curve_points_(population_and_multiplier)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}

			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}

		    <div class="visualclear"></div> 
		    
		    <div class="ptitle w150"><span class="label">Demand curve type :</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Productive --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Social Infrastructure"><!-- Demand: Social Infrastructure --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Energy to power collective social and economic infrastructure. 
		      <ul> 
			<li>Health (e.g. hospital, clinic, dispensary) </li> 
			<li>Education (e.g. primary school, secondary school) </li> 
			<li>Commercial (e.g. market, small business) </li> 
		      </ul> 
		      (base unit demand = known facility demand)
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 

		  {% with "demand (social infrastructure)" as section %}
		  {% with "w150" as divwidth %}

		  {% with "Base health unit demand" as label %}
		  {% with "kW/year" as units %}
		  {% with "unit demand per health facility in kilowatts per year" as key %}
		  {% with "(per health facility)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Base education unit demand" as label %}
		  {% with "kW/year" as units %}
		  {% with "unit demand per education facility in kilowatt-hours per year" as key %}
		  {% with "(per education facility)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Base commercial unit demand" as label %}
		  {% with "kW/year" as units %}
		  {% with "unit demand per commercial facility in kilowatt-hours per year" as key %}
		  {% with "(per commercial facility)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Base public lighting unit demand" as label %}
		  {% with "kW/year" as units %}
		  {% with "unit demand per public lighting facility in kilowatt-hours per year" as key %}
		  {% with "(per commercial facility)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% endwith %}{% endwith %}
		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>demand_curve_points_(population_and_multiplier)">Social infrastructure demand curve:</label></div><!-- ptitle --> 

		    {% with "social" as type %}

		    <div class="pfield"> 
		      <table id="table-demand-{{type}}" class="veryplain"> 
			<thead> 
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Scaling factor
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (social infrastructure)" as section %}
			    {% with "demand curve points (population and multiplier)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>demand_curve_points_(population_and_multiplier)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>demand_curve_points_(population_and_multiplier)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>demand_curve_points_(population_and_multiplier)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>demand_curve_points_(population_and_multiplier)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}

			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}
		    
		    <div class="visualclear"></div> 
		    
		    <div class="ptitle w150"><span class="label">Demand curve type :</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>health_facility_count_curve_points_(population_and_facility_count)">Health infrastructure count:</label></div><!-- ptitle --> 

		    {% with "health" as type %}

		    <div class="pfield"> 
		      <table id="table-demand-{{type}}" class="veryplain"> 
			<thead> 
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Count
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (social infrastructure)" as section %}
			    {% with "health facility count curve points (population and facility count)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>health_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>health_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>health_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>health_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}

			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}

		    <div class="visualclear"></div> 
		    <div class="ptitle w150"><span class="label">Count curve type:</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>education_facility_count_curve_points_(population_and_facility_count)">Education infrastructure count:</label></div><!-- ptitle --> 

		    {% with "education" as type %}

		    <div id="table-demand-{{type}}" class="pfield"> 
		      <table class="veryplain"> 
			<thead> 
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Count
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (social infrastructure)" as section %}
			    {% with "education facility count curve points (population and facility count)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>education_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>education_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>education_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>education_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}

			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}
		    
		    <div class="visualclear"></div> 
		    
		    <div class="ptitle w150"><span class="label">Count curve type:</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>health_facility_count_curve_points_(population_and_facility_count)">Commercial infrastructure count:</label></div><!-- ptitle --> 

		    {% with "commercial" as type %}

		    <div class="pfield"> 
		      <table id="table-demand-{{type}}" class="veryplain"> 
			<thead> 
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Count
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (social infrastructure)" as section %}
			    {% with "commercial facility count curve points (population and facility count)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>commercial_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>commercial_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>commercial_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>commercial_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}

			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}

		    <div class="visualclear"></div> 
		    
		    <div class="ptitle w150"><span class="label">Count curve type:</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  
		  <div class="pageblock"> 
		    <div class="ptitle w150"><label for="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>public_lighting_facility_count_curve_points_(population_and_facility_count)">Public lighting demand curve:</label></div><!-- ptitle --> 

		    {% with "lighting" as type %}

		    <div id="table-demand-{{type}}" class="pfield"> 
		      <table class="veryplain"> 
			<thead> 
			  <tr> 
			    <td class="veryplain"> 
			      Population
			    </td> 
			    <td class="veryplain"> 
			      Scaling factor
			    </td> 
			  </tr> 
			</thead> 
			<tbody> 
			    {% with "demand (social infrastructure)" as section %}
			    {% with "public lighting facility count curve points (population and facility count)" as key %}
			    {% for x,y in params.metric|get:section|get_tuples:key %}
			  <tr> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>public_lighting_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>public_lighting_facility_count_curve_points_(population_and_facility_count)__x__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" 
				     value="{{x}}"
				     maxlength="128" /> 
			    </td> 
			    <td class="veryplain"> 
			      <input name="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>public_lighting_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}"
			      id="paramset-{{paramsetid}}-metric>demand_(social_infrastructure)>public_lighting_facility_count_curve_points_(population_and_facility_count)__y__{{forloop.counter0}}" class="form_text"
			      type="text" size="10" maxlength="128" 
				     value="{{y}}"
				     /> 
			    </td> 
			  </tr> 
			  {% endfor %}
			  {% endwith %}
			  {% endwith %}

			</tbody> 
		      </table> 
		    </div><!-- pfield --> 

		    {% include "npo/paramset_form_plot.html" %}
		    {% endwith %}
		    
		    <div class="visualclear"></div> 
		    
		    <div class="ptitle w150"><span class="label">Count curve type:</span></div><!-- ptitle --> 
		    <div class="pfield"><b>Logistic</b></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" Demand curve type --> 
		  
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Social Infrastructure --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Peak"><!-- Demand: Peak --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Electricity demand can fluctuate depending on factors, such as, time of day and temperature. Peak demand (peak load) refers to periods when electricity need is the highest.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 

		  {% with "demand (peak)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Fraction of total demand during peak hours (rural)" as label %}
		  {% with "" as units %}
		  {% with "fraction of nodal demand occurring during peak hours (rural)" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Fraction of total demand during peak hours (urban)" as label %}
		  {% with "" as units %}
		  {% with "fraction of nodal demand occurring during peak hours (urban)" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Annual peak usage hours" as label %}
		  {% with "hrs/yr" as units %}
		  {% with "peak electrical usage hours per year" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  {% endwith %}{% endwith %}
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Peak --> 
		
		<!-- ***  END TAB DIV *** --> 
		
	      </div><!-- tabber tabber --> 
	    </div><!-- class="pageblock parametersubgroup" --> 
	    <div class="visualclear"></div><!-- ### End Demand groupings ### --> 
	  </div><!-- tabbertab Demands --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	  
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Systems"> 
	    
	    <div class="visualclear"></div><!-- ### Begin Systems groupings ### --> 
	    <div class="pageblock parametersubgroup"> 
	      <div id="tabber-0-systems" class="tabber"> 
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Off-grid"><!-- System: Off-grid --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Off-grid is photovoltaic systems + stand-alone diesel generators<br /> 
		      <ul> 
			<li>PV panels for power generation, the conversion of sunlight to direct-current (DC) electricity </li> 
			<li>Batteries for storing PV-generated electricity so that stored electricity can be used in absence of sunlight </li> 
			<li>Balance of system (BOS) which typically consists of structure for mounting PV panels and equipment that adjust and converts DC electricity to meet alternating-current (AC) load</li> 
		      </ul> 
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Photovoltaic Systems</h3> 

		  <div class="pageblock"> 
		    <div class="ptitle
		    w200"><label for="paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(photovoltaic_panel)">Available
		    System Capacities (photovoltaic panel):</label></div><!-- ptitle --> 
		    <div class="pfield"> 
		      <table class="veryplain"> 
			<tbody> 
			  <tr> 
			    <td class="veryplain" colspan="2"> 
			      <div class="instructions">To add, enter value and click Add.<br />To remove, highlight value and click Remove.</div><!-- class="instructions" --> 
			    </td> 
			  </tr> 
			  <tr> 
			    <td class="veryplain" style="text-align: right;"> 
			      <input 
			      id="input-paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(photovoltaic_panel)" 
				     class="form_text" type="text"
			      type="text" size="9" maxlength="128"  
				     value="Enter value" onFocus="this.value=''" /> 
			      kW <input type="button" value="Add &#187;" class="regButton" 
					onclick="AddListItem('paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(photovoltaic_panel)')"
					/> 
			      <hr style="margin: 5px 0;" /> 
			      <input type="button" value="&#171; Remove" class="regButton" 
				     onclick="RemoveListItems('paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(photovoltaic_panel)')"/> 
			    </td> 
			    <td class="veryplain"> 
			      <select size="5" 
				      name="paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(photovoltaic_panel)"
				      id="select-paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(photovoltaic_panel)"
				      multiple="multiple"
				      class="form_multiselect w100"> 
				{% with "system (off-grid)" as system %}
                                {% with "available system capacities (photovoltaic panel)" as key %}
                                {% for o in params.metric|get:system|getlist:key %}
                                <option value="{{o}}">{{o}}</option>
                                {% endfor %}
				{% endwith %}
                                {% endwith %}
			      </select> 
			    </td> 
			  </tr> 
			</tbody> 
		    </table></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 

		  {% with "system (off-grid)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Panel cost per system kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "photovoltaic panel cost per photovoltaic system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Balance of system cost factor (as fraction of Panel cost)" as label %}
		  {% with "" as units %}
		  {% with "photovoltaic balance cost as fraction of photovoltaic panel cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Battery energy per system kilowatt" as label %}
		  {% with "kWh/kW" as units %}
		  {% with "photovoltaic battery kilowatt-hours per photovoltaic system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Battery cost per kilowatt-hour" as label %}
		  {% with "$/kW" as units %}
		  {% with "photovoltaic battery cost per kilowatt-hour" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  <h3 class="smaller">Photovoltaic Systems Replacement</h3> 

		  {% with "Panel lifetime" as label %}
		  {% with "years" as units %}
		  {% with "photovoltaic panel lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Balance of system lifetime" as label %}
		  {% with "years" as units %}
		  {% with "photovoltaic balance lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Battery lifetime" as label %}
		  {% with "years" as units %}
		  {% with "photovoltaic battery lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "O&amp;M photovoltaic systems cost factor<br />(as fraction of total Panel System cost)" as label %}
		  {% with "" as units %}
		  {% with "photovoltaic operations and maintenance cost per year as fraction of photovoltaic system cost" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  <h3 class="smaller">Diesel generators</h3> 

		  {% with "Total hours diesel generator is in operation in a year" as label %}
		  {% with "h/yr" as units %}
		  {% with "diesel generator hours of operation per year" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <div class="pageblock"> 
		    <div class="ptitle
		    w200"><label for="paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(diesel_generator)">Available
		    System Capacities (diesel generator):</label></div><!-- ptitle --> 
		    <div class="pfield"> 
		      <table class="veryplain"> 
			<tbody> 
			  <tr> 
			    <td class="veryplain" colspan="2"> 
			      <div class="instructions">To add, enter value and click Add.<br />To remove, highlight value and click Remove.</div><!-- class="instructions" --> 
			    </td> 
			  </tr> 
			  <tr> 
			    <td class="veryplain" style="text-align: right;"> 
			      <input 
			      id="input-paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(diesel_generator)" 
				     class="form_text" type="text"
			      type="text" size="9" maxlength="128"  
				     value="Enter value" onFocus="this.value=''" /> 
			      kW <input type="button" value="Add &#187;" class="regButton" 
					onclick="AddListItem('paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(diesel_generator)')"
					/> 
			      <hr style="margin: 5px 0;" /> 
			      <input type="button" value="&#171; Remove" class="regButton" 
				     onclick="RemoveListItems('paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(diesel_generator)')"/> 
			    </td> 
			    <td class="veryplain"> 
			      <select size="5" 
				      name="paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(diesel_generator)"
				      id="select-paramset-{{paramsetid}}-metric>system_(off-grid)>available_system_capacities_(diesel_generator)"
				      multiple="multiple"
				      class="form_multiselect w100"> 
				{% with "system (off-grid)" as system %}
                                {% with "available system capacities (diesel generator)" as key %}
                                {% for o in params.metric|get:system|getlist:key %}
                                <option value="{{o}}">{{o}}</option>
                                {% endfor %}
				{% endwith %}
                                {% endwith %}
			      </select> 
			    </td> 
			  </tr> 
			</tbody> 
		    </table></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 

		  {% endwith %}{% endwith %}		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab System: Off-grid --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Mini-grid"><!-- System: Mini-grid --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Off-grid is diesel generators<br /> 
		      <ul> 
			<li>Diesel generators for local production of electricity</li> 
			<li>Low voltage distribution network to connect households and institutions</li> 
		      </ul> 
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Diesel Generators</h3> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(mini-grid)>available_system_capacities_(diesel_generator)">Available diesel generator system sizes:</label></div><!-- ptitle --> 
		    <div class="pfield"> 
		      <table class="veryplain"> 
			<tbody> 
			  <tr> 
			    <td class="veryplain" colspan="2"> 
			      <div class="instructions">To add, enter value and click Add.<br />To remove, highlight value and click Remove.</div><!-- class="instructions" --> 
			    </td> 
			  </tr> 
			  <tr> 
			    <td class="veryplain" style="text-align: right;"> 
			      <input id="input-paramset-{{paramsetid}}-metric>system_(mini-grid)>available_system_capacities_(diesel_generator)" 
				     class="form_text" type="text"
			      type="text" size="9" maxlength="128"  
				     value="Enter value" onFocus="this.value=''" /> 
			      <input type="button" value="Add &#187;"
			      class="regButton" 
				     onclick="AddListItem('paramset-{{paramsetid}}-metric>system_(mini-grid)>available_system_capacities_(diesel_generator)')"/> 
			      <hr style="margin: 5px 0;" /> 
			      <input type="button" value="&#171; Remove" 
				     onclick="RemoveListItems('paramset-{{paramsetid}}-metric>system_(mini-grid)>available_system_capacities_(diesel_generator)')"
				     class="regButton" /> 
			    </td> 
			    <td class="veryplain"> 
			      <select id="select-paramset-{{paramsetid}}-metric>system_(mini-grid)>available_system_capacities_(diesel_generator)"
				      name="paramset-{{paramsetid}}-metric>system_(mini-grid)>available_system_capacities_(diesel_generator)"
				      size="5" multiple="multiple"
				      class="form_multiselect w100"> 
				{% with "system (mini-grid)" as system %}
                                {% with "available system capacities (diesel generator)" as key %}
                                {% for o in params.metric|get:system|getlist:key %}
                                <option value="{{o}}">{{o}}</option>
                                {% endfor %}
                                {% endwith %}
                                {% endwith %}
			      </select> 
			    </td> 
			  </tr> 
			  <tr> 
			    <td class="veryplain" colspan="2"> 
			      <div class="instructions">Standard units for diesel generator<br />system sizes are represented in kVA; kVA=kW*Power Factor</div><!-- class="instructions" --> 
			    </td> 
			  </tr> 
			</tbody> 
		    </table></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 

		  {% with "system (mini-grid)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Diesel generator cost per kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "diesel generator cost per diesel system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Distribution loss per system kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "distribution loss per system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Diesel Generator Installation cost factor<br />(as fraction of Diesel Generator cost)" as label %}
		  {% with "" as units %}
		  {% with "diesel generator installation cost as fraction of diesel generator cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Other equipment cost per household" as label %}
		  {% with "$/HH" as units %}
		  {% with "diesel equipment cost per household" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Diesel Generator Replacement</h3> 

		  {% with "Diesel Generator lifetime" as label %}
		  {% with "years" as units %}
		  {% with "diesel generator lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Fuel</h3> 

		  {% with "Fuel cost per liter" as label %}
		  {% with "$/L" as units %}
		  {% with "diesel fuel cost per liter" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Fuel liters consumed per kilowatt-hour" as label %}
		  {% with "L/kWh" as units %}
		  {% with "diesel fuel liters consumed per kilowatt-hour" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "Total hours diesel generator is in operation in a year" as label %}
		  {% with "h/yr" as units %}
		  {% with "diesel generator hours of operation per year" as key %}
		  {% with "" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Diesel Generator O&amp;M cost factor<br />(as fraction of Diesel Generator cost)" as label %}
		  {% with "" as units %}
		  {% with "diesel generator operations and maintenance cost per year as fraction of diesel generator cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Other Equipment O&amp;M cost factor<br />(as fraction of Other Equipment cost)" as label %}
		  {% with "" as units %}
		  {% with "diesel equipment operations and maintenance cost per year as fraction of diesel equipment cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include "npo/simple_param_block.html" %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  {% endwith %}{% endwith %}
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Mini-grid --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Grid"><!-- System: Grid -->
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">
		    Grid is Transformers + Household Connections + Medium Voltage Extension<br />
			<ul>
				<li>Connecting household and institutions within demand node with LV line wiring, internal household wiring, and MV-to-LV transformers. </li>
				<li>Extending MV line from existing distribution network to MV-to-LV transformer </li>
			</ul>
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle
		    w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>electricity_cost_per_kilowatt-hour">Electricity cost per kilowatt-hour:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>electricity_cost_per_kilowatt-hour"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>electricity_cost_per_kilowatt-hour"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"electricity cost per kilowatt-hour"}}"
					       /> $/kWh</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle
				w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>distribution_loss_per_system_kilowatt">Transmission and distribution loss factor<br />(as fraction of grid system demand):</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>distribution_loss_per_system_kilowatt"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>distribution_loss_per_system_kilowatt"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"distribution loss per system kilowatt"}}"
					       /><div class="instructions">(e.g. 0.02 for 2%)</div></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" -->
		  
		  <h2 class="medium">Grid: Transformers</h2>
		  
		  <h3 class="smaller">Transformer in Low Voltage Network</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="select-paramset-{{paramsetid}}-metric>system_(grid)>available_system_capacities_(transformer)">Available transformer system sizes:</label></div><!-- ptitle --> 
		    <div class="pfield"> 
		      <table class="veryplain"> 
			<tbody> 
			  <tr> 
			    <td class="veryplain" colspan="2"> 
			      <div class="instructions">To add, enter value and click Add.<br />To remove, highlight value and click Remove.</div><!-- class="instructions" --> 
			    </td> 
			  </tr> 
			  <tr> 
			    <td class="veryplain" style="text-align: right;"> 
			      <input 
				     id="input-paramset-{{paramsetid}}-metric>system_(grid)>available_system_capacities_(transformer)" 
				     class="form_text" type="text" onFocus="this.value=''"
			      size="9" maxlength="128" value="Enter value" /> 
			      <input type="button" value="Add &#187;"
			      class="regButton" 
				     onclick="AddListItem('paramset-{{paramsetid}}-metric>system_(grid)>available_system_capacities_(transformer)')"/> 
			      <hr style="margin: 5px 0;" /> 
			      <input type="button" value="&#171; Remove" class="regButton" 
				     onclick="RemoveListItems('paramset-{{paramsetid}}-metric>system_(grid)>available_system_capacities_(transformer)')"/> 
			    </td> 
			    <td class="veryplain"> 
			      <select size="5" multiple="multiple"
				     id="select-paramset-{{paramsetid}}-metric>system_(grid)>available_system_capacities_(transformer)" 
				      name="paramset-{{paramsetid}}-metric>system_(grid)>available_system_capacities_(transformer)"
			      class="form_multiselect w100"> 
				{% with "system (grid)" as system %}
				{% with "available system capacities (transformer)" as key %}
				{% for o in params.metric|get:system|getlist:key %}
				<option value="{{o}}">{{o}}</option>
				{% endfor %}
				{% endwith %}
				{% endwith %}
			      </select> 
			    </td> 
			  </tr> 
			  <tr> 
			    <td class="veryplain" colspan="2"> 
			      <div class="instructions">Standard units for transformer<br />system sizes are represented in kVA; kVA=kW*Power Factor</div><!-- class="instructions" --> 
			    </td> 
			  </tr> 
			</tbody> 
		    </table></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>transformer_cost_per_grid_system_kilowatt">Transformer cost per kilowatt:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>transformer_cost_per_grid_system_kilowatt"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>transformer_cost_per_grid_system_kilowatt"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"transformer cost per grid system kilowatt"}}"
					       /> $/kW</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Transformer Replacement</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>transformer_lifetime_in_years">Transformer lifetime:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>transformer_lifetime_in_years"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>transformer_lifetime_in_years"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"transformer lifetime in years"}}"
/> years</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>transformer_operations_and_maintenance_cost_per_year_as_fraction_of_transformer_cost">Transformer O&#38;M cost factor<br />(as fraction of transformer cost):</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>transformer_operations_and_maintenance_cost_per_year_as_fraction_of_transformer_cost"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>transformer_operations_and_maintenance_cost_per_year_as_fraction_of_transformer_cost"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"transformer operations and maintenance cost per year as fraction of transformer cost"}}"
					       /><div class="instructions">(e.g. 0.02 for 2%)</div></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h2 class="medium">Grid: Household Connections</h2>
		  
		  <h3 class="smaller">Household Connections to Low Voltage Network</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>equipment_cost_per_connection">Equipment cost per household<br />e.g. energy meters, internal wiring, etc.:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>equipment_cost_per_connection" 
					       id="paramset-{{paramsetid}}-metric>system_(grid)>equipment_cost_per_connection"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"equipment cost per connection"}}"
					       /> $/HH</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>installation_cost_per_connection">Installation cost per household<br />e.g. installation of energy meters, internal wiring, etc.:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>installation_cost_per_connection"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>installation_cost_per_connection"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"installation cost per connection"}}"
					       /> $/HH</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>service_cost_per_connection">Service cost per household<br />(annual flat fee for service):</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>service_cost_per_connection"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>service_cost_per_connection"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" value="{{params.metric|get:"system (grid)"|get:"service cost per connection"}}"
					       /> $/HH</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>equipment_operations_and_maintenance_cost_per_year_as_fraction_of_equipment_cost">Equipment O&#38;M cost factor<br />(as fraction of equipment cost):</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>equipment_operations_and_maintenance_cost_per_year_as_fraction_of_equipment_cost"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>equipment_operations_and_maintenance_cost_per_year_as_fraction_of_equipment_cost"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"equipment operations and maintenance cost per year as fraction of equipment cost"}}"
					       /><div class="instructions">(e.g. 0.02 for 2%)</div></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="pageblock"> 
		    <div class="ptitle
				w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>service_operations_and_maintenance_cost_per_year_as_fraction_of_service_cost">Service O&#38;M cost factor<br />(as fraction of service cost):</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>service_operations_and_maintenance_cost_per_year_as_fraction_of_service_cost"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>service_operations_and_maintenance_cost_per_year_as_fraction_of_service_cost"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"service operations and maintenance cost per year as fraction of service cost"}}"
					       /><div class="instructions">(e.g. 0.02 for 2%)</div></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h2 class="medium">Grid: Medium Voltage Extension</h2>
		  
		  <h3 class="smaller">Medium Voltage Lines</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_cost_per_meter">Medium Voltage Line cost per meter:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_cost_per_meter"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_cost_per_meter"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"medium voltage line cost per meter"}}"
					       /> $/m</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Medium Voltage Lines Replacement</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_lifetime_in_years">Medium Voltage Line Lifetime:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_lifetime_in_years"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_lifetime_in_years"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"medium voltage line lifetime in years"}}"					       
					       /> years</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_operations_and_maintenance_cost_per_year_as_fraction_of_medium_voltage_line_cost">Medium Voltage Line O&#38;M cost factor<br />(as fraction of Medium Voltage Line cost):</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_operations_and_maintenance_cost_per_year_as_fraction_of_medium_voltage_line_cost"
					       id="paramset-{{paramsetid}}-metric>system_(grid)>medium_voltage_line_operations_and_maintenance_cost_per_year_as_fraction_of_medium_voltage_line_cost"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric|get:"system (grid)"|get:"medium voltage line operations and maintenance cost per year as fraction of medium voltage line cost"}}"
					       /><div class="instructions">(e.g. 0.02 for 2%)</div></div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Grid -->
		
		<!-- ***  END TAB DIV *** --> 

		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Low voltage distribution"><!-- System: Low voltage distribution --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Low voltage (mini-grid + grid) distribution network to connect households and institutions.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Low Voltage Lines</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_cost_per_meter">Low-voltage line cost per meter:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_cost_per_meter"
					       id="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_cost_per_meter"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric.distribution|get:"low voltage line cost per meter"}}"
					       /> $/m</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Low Voltage Lines Replacement</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_lifetime_in_years">Low-voltage line lifetime:</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_lifetime_in_years"
					       id="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_lifetime_in_years"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric.distribution|get:"low voltage line lifetime in years"}}"
					       /> years</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 
		  		  
		  <div class="pageblock"> 
		    <div class="ptitle w200"><label for="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_operations_and_maintenance_cost_per_meter">Low-voltage O&amp;M cost in dollars per meter :</label></div><!-- ptitle --> 
		    <div class="pfield"><input name="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_operations_and_maintenance_cost_per_meter"
					       id="paramset-{{paramsetid}}-metric>distribution>low_voltage_line_operations_and_maintenance_cost_per_meter"
					       class="form_text"
					       type="text" size="10"
					       maxlength="128" 
					       value="{{params.metric.distribution|get:"low voltage line operations and maintenance cost per meter"}}"
					       /> $/m</div><!-- pfield --> 
		    <div class="visualclear"></div> 
		  </div><!-- class="pageblock" --> 
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab  Low voltage distribution --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
	      </div><!-- tabber tabber (parametersubgroup) --> 
	    </div><!-- class="pageblock parametersubgroup" --> 
	    <div class="visualclear"></div><!-- ### End Systems groupings ### --> 
	    
	  </div><!-- tabbertab Systems --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	</div><!-- tabber tabber --> 
      </div><!-- (parametergroup) --> 
      <div class="visualclear"></div> 
</div>

