{% load get %}
<!-- STARTCASE -->
<div class="parameterset" id="paramset-{{paramsetid}}"> 
  <h2 class="paramsetheader">Selected parameter set: {{paramsettitle}}</h2>							
  <div class="parametergroup"> 
    <div id="tabber-0" class="tabber"> 
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Financing"> 
	    
	    {% with "finance" as section %}
	    {% with "w150" as divwidth %}

	    {% with "Time horizon" as label %}
	    {% with "year(s)" as units %}
	    {% with "time horizon in years" as key %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}

	    {% with "Economic Growth Rate Per Year" as label %}
	    {% with "" as units %}
	    {% with "economic growth rate per year" as key %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}

	    {% with "Elasticity of Electricity Demand" as label %}
	    {% with "" as units %}
	    {% with "elasticity of electricity demand" as key %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}

	    {% with "Annual interest rate" as label %}
	    {% with "" as units %}
	    {% with "interest rate per year" as key %}
	    {% with "(e.g. 0.02 for 2%)" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% endwith %}
	    {% endwith %}
	    
	  </div><!-- tabbertab Financing --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Demographics"> 
	    

	    {% with "demographics" as section %}
	    {% with "w200" as divwidth %}

	    {% with "Annual population growth rate" as label %}
	    {% with "" as units %}
	    {% with "population growth rate per year" as key %}
	    {% with "(e.g. 0.02 for 2%)" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Mean household size (rural)" as label %}
	    {% with "person(s)" as units %}
	    {% with "mean household size (rural)" as key %}
	    {% with "" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Mean household size (urban)" as label %}
	    {% with "person(s)" as units %}
	    {% with "mean household size (urban)" as key %}
	    {% with "" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Urban population threshold" as label %}
	    {% with "person(s)" as units %}
	    {% with "urban population threshold" as key %}
	    {% with "(minimum population of community when considered urban)" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Mean interhousehold distance" as label %}
	    {% with "meters" as units %}
	    {% with "mean interhousehold distance in meters" as key %}
	    {% with "" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

	    {% with "Population Count" as label %}
	    {% with "meters" as units %}
	    {% with "population count" as key %}
	    {% with "" as instructions %}
	    {% include simple_param_block_template %}
	    {% endwith %}{% endwith %}{% endwith %}{% endwith %}


	    {% endwith %}
	    {% endwith %}
	    
	  </div><!-- tabbertab Demographics --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Demands"> 
	    <div class="visualclear"></div><!-- ### Begin Demand groupings ### --> 
	    <div class="pageblock parametersubgroup"> 
	      <div id="tabber" class="tabber"> 
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Household"><!-- Demand: Household --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">The following parameters refer to energy demands to power domestic lighting and other household electrical equipment, such as televisions or radios.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 

		  {% with "demand (household)" as section %}
		  {% with "w150" as divwidth %}

		  {% with "Base household unit demand" as label %}
		  {% with "kWh/year" as units %}
		  {% with "household unit demand per household in kilowatt-hours per year" as key %}
		  {% with "(per household)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Household demand curve" as label %}
		  {% with "demand curve points (population and multiplier)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}


		  {% endwith %}{% endwith %}
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Household --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Productive"><!-- Demand: Productive --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">These parameters refer to energy demands to power household level of access to productive infrastructure, such as water pumps, agro-processing, equipment, and mills.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  {% with "demand (productive)" as section %}
		  {% with "w150" as divwidth %}

		  {% with "Base productive unit demand" as label %}
		  {% with "kWh/year" as units %}
		  {% with "productive unit demand per household in kilowatt-hours per year" as key %}
		  {% with "(per household)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Productive demand curve" as label %}
		  {% with "demand curve points (population and multiplier)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}


		  {% endwith %}{% endwith %}
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Productive --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Social Infrastructure"><!-- Demand: Social Infrastructure --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Energy to power collective social and economic infrastructure. 
		      <ul> 
			<li>Health (e.g. hospital, clinic, dispensary) </li> 
			<li>Education (e.g. primary school, secondary school) </li> 
			<li>Commercial (e.g. market, small business) </li> 
		      </ul> 
		      (base unit demand = known facility demand)
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 

		  {% with "demand (social infrastructure)" as section %}
		  {% with "w150" as divwidth %}

		  {% with "Base health unit demand" as label %}
		  {% with "kWh/year" as units %}
		  {% with "unit demand per health facility in kilowatt-hours per year" as key %}
		  {% with "(per health facility)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Base education unit demand" as label %}
		  {% with "kWh/year" as units %}
		  {% with "unit demand per education facility in kilowatt-hours per year" as key %}
		  {% with "(per education facility)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Base commercial unit demand" as label %}
		  {% with "kWh/year" as units %}
		  {% with "unit demand per commercial facility in kilowatt-hours per year" as key %}
		  {% with "(per commercial facility)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Base public lighting unit demand" as label %}
		  {% with "kWh/year" as units %}
		  {% with "unit demand per public lighting facility in kilowatt-hours per year" as key %}
		  {% with "(per commercial facility)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Social infrastructure demand curve" as label %}
		  {% with "demand curve points (population and multiplier)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}

		  {% with "Health infrastructure count" as label %}
		  {% with "health facility count curve points (population and facility count)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}

		  {% with "Education infrastructure count" as label %}
		  {% with "education facility count curve points (population and facility count)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}

		  {% with "Commercial infrastructure count" as label %}
		  {% with "commercial facility count curve points (population and facility count)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}

		  {% with "Public lighting demand curve" as label %}
		  {% with "public lighting facility count curve points (population and facility count)" as key %}
		  {% include demand_curve_param_template %}
		  {% endwith %}{% endwith %}

		  {% endwith %}{% endwith %}
		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Social Infrastructure --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Peak"><!-- Demand: Peak --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Electricity demand can fluctuate depending on factors, such as, time of day and temperature. Peak demand (peak load) refers to periods when electricity need is the highest.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 

		  {% with "demand (peak)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Fraction of total demand during peak hours (rural)" as label %}
		  {% with "" as units %}
		  {% with "fraction of nodal demand occurring during peak hours (rural)" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Fraction of total demand during peak hours (urban)" as label %}
		  {% with "" as units %}
		  {% with "fraction of nodal demand occurring during peak hours (urban)" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Annual peak usage hours" as label %}
		  {% with "hrs/yr" as units %}
		  {% with "peak electrical usage hours per year" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  {% endwith %}{% endwith %}
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Demand: Peak --> 
		
		<!-- ***  END TAB DIV *** --> 
		
	      </div><!-- tabber tabber --> 
	    </div><!-- class="pageblock parametersubgroup" --> 
	    <div class="visualclear"></div><!-- ### End Demand groupings ### --> 
	  </div><!-- tabbertab Demands --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	  
	  
	  <!-- ***  BEGIN TAB DIV *** --> 
	  
	  <div class="tabbertab" title="Systems"> 
	    
	    <div class="visualclear"></div><!-- ### Begin Systems groupings ### --> 
	    <div class="pageblock parametersubgroup"> 
	      <div id="tabber-0-systems" class="tabber"> 
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Off-grid"><!-- System: Off-grid --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Off-grid is photovoltaic systems + stand-alone diesel generators<br /> 
		      <ul> 
			<li>PV panels for power generation, the conversion of sunlight to direct-current (DC) electricity </li> 
			<li>Batteries for storing PV-generated electricity so that stored electricity can be used in absence of sunlight </li> 
			<li>Balance of system (BOS) which typically consists of structure for mounting PV panels and equipment that adjust and converts DC electricity to meet alternating-current (AC) load</li> 
		      </ul> 
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Photovoltaic Systems</h3> 

		  {% with "system (off-grid)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Available System Capacities (photovoltaic panel) in kW" as label %}
		  {% with "" as units %}
		  {% with "available system capacities (photovoltaic panel)" as key %}
		  {% with "" as instructions %}
		  {% include list_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}


		  {% with "Panel cost per system kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "photovoltaic panel cost per photovoltaic component kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Balance of system cost factor (as fraction of Panel cost)" as label %}
		  {% with "" as units %}
		  {% with "photovoltaic balance cost as fraction of photovoltaic panel cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Battery energy per system kilowatt" as label %}
		  {% with "kWh/kW" as units %}
		  {% with "photovoltaic battery kilowatt-hours per photovoltaic component kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Battery cost per kilowatt-hour" as label %}
		  {% with "$/kWh" as units %}
		  {% with "photovoltaic battery cost per kilowatt-hour" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  <h3 class="smaller">Photovoltaic Systems Replacement</h3> 

		  {% with "Panel lifetime" as label %}
		  {% with "years" as units %}
		  {% with "photovoltaic panel lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Balance of system lifetime" as label %}
		  {% with "years" as units %}
		  {% with "photovoltaic balance lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Battery lifetime" as label %}
		  {% with "years" as units %}
		  {% with "photovoltaic battery lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "O&amp;M photovoltaic systems cost factor<br />(as fraction of total Panel System cost)" as label %}
		  {% with "" as units %}
		  {% with "photovoltaic component operations and maintenance cost per year as fraction of photovoltaic system cost" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  <h3 class="smaller">Diesel generators</h3> 

		  {% with "Total hours diesel generator is in operation in a year" as label %}
		  {% with "h/yr" as units %}
		  {% with "diesel generator hours of operation per year" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Available diesel generator system sizes in kW" as label %}
		  {% with "" as units %}
		  {% with "available system capacities (diesel generator)" as key %}
		  {% with "Standard units for diesel generator<br />system sizes are represented in kVA; kVA=kW*Power Factor" as instructions %}
		  {% include list_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% endwith %}{% endwith %}		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab System: Off-grid --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Mini-grid"><!-- System: Mini-grid --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Off-grid is diesel generators<br /> 
		      <ul> 
			<li>Diesel generators for local production of electricity</li> 
			<li>Low voltage distribution network to connect households and institutions</li> 
		      </ul> 
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Diesel Generators</h3> 

		  
		  {% with "system (mini-grid)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Available diesel generator system sizes in kW" as label %}
		  {% with "" as units %}
		  {% with "available system capacities (diesel generator)" as key %}
		  {% with "Standard units for diesel generator<br />system sizes are represented in kVA; kVA=kW*Power Factor" as instructions %}
		  {% include list_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Diesel generator cost per kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "diesel generator cost per diesel system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Distribution loss per system kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "distribution loss per system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Diesel Generator Installation cost factor<br />(as fraction of Diesel Generator cost)" as label %}
		  {% with "" as units %}
		  {% with "diesel generator installation cost as fraction of diesel generator cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Other equipment cost per household" as label %}
		  {% with "$/HH" as units %}
		  {% with "diesel equipment cost per household" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Diesel Generator Replacement</h3> 

		  {% with "Diesel Generator lifetime" as label %}
		  {% with "years" as units %}
		  {% with "diesel generator lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Fuel</h3> 

		  {% with "Fuel cost per liter" as label %}
		  {% with "$/L" as units %}
		  {% with "diesel fuel cost per liter" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Fuel liters consumed per kilowatt-hour" as label %}
		  {% with "L/kWh" as units %}
		  {% with "diesel fuel liters consumed per kilowatt-hour" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "Total hours diesel generator is in operation in a year" as label %}
		  {% with "h/yr" as units %}
		  {% with "diesel generator hours of operation per year" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Diesel Generator O&amp;M cost factor<br />(as fraction of Diesel Generator cost)" as label %}
		  {% with "" as units %}
		  {% with "diesel generator operations and maintenance cost per year as fraction of diesel generator cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Other Equipment O&amp;M cost factor<br />(as fraction of Other Equipment cost)" as label %}
		  {% with "" as units %}
		  {% with "diesel equipment operations and maintenance cost per year as fraction of diesel equipment cost" as key %}
		  {% with "(e.g. 0.25 for 25%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  {% endwith %}{% endwith %}
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Mini-grid --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Grid"><!-- System: Grid -->
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">
		    Grid is Transformers + Household Connections + Medium Voltage Extension<br />
			<ul>
				<li>Connecting household and institutions within demand node with LV line wiring, internal household wiring, and MV-to-LV transformers. </li>
				<li>Extending MV line from existing distribution network to MV-to-LV transformer </li>
			</ul>
		    </div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 


		  {% with "system (grid)" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Electricity cost per kilowatt-hour" as label %}
		  {% with "$/kWh" as units %}
		  {% with "electricity cost per kilowatt-hour" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Transmission and distribution loss factor<br />(as fraction of grid system demand)" as label %}
		  {% with "" as units %}
		  {% with "distribution loss per system kilowatt" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  
		  <h2 class="medium">Grid: Transformers</h2>
		  
		  <h3 class="smaller">Transformer in Low Voltage Network</h3> 

		  {% with "Available transformer system sizes in kW" as label %}
		  {% with "" as units %}
		  {% with "available system capacities (transformer)" as key %}
		  {% with "Standard units for transformer<br />system sizes are represented in kVA; kVA=kW*Power Factor" as instructions %}
		  {% include list_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  {% with "Transformer cost per kilowatt" as label %}
		  {% with "$/kW" as units %}
		  {% with "transformer cost per grid system kilowatt" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Transformer Replacement</h3> 

		  {% with "Transformer lifetime" as label %}
		  {% with "years" as units %}
		  {% with "transformer lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "Transformer O&#38;M cost factor<br />(as fraction of transformer cost)" as label %}
		  {% with "" as units %}
		  {% with "transformer operations and maintenance cost per year as fraction of transformer cost" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  <h2 class="medium">Grid: Household Connections</h2>
		  
		  <h3 class="smaller">Household Connections to Low Voltage Network</h3> 


		  {% with "Equipment cost per household<br />e.g. energy meters, internal wiring, etc." as label %}
		  {% with "$/HH" as units %}
		  {% with "equipment cost per connection" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Installation cost per household<br />e.g. installation of energy meters, internal wiring, etc." as label %}
		  {% with "$/HH" as units %}
		  {% with "installation cost per connection" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Service cost per household<br />(annual flat fee for service)" as label %}
		  {% with "$/HH" as units %}
		  {% with "service cost per connection" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "Equipment O&#38;M cost factor<br />(as fraction of equipment cost)" as label %}
		  {% with "" as units %}
		  {% with "equipment operations and maintenance cost per year as fraction of equipment cost" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% with "Service O&#38;M cost factor<br />(as fraction of service cost)" as label %}
		  {% with "" as units %}
		  {% with "service operations and maintenance cost per year as fraction of service cost" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  <h2 class="medium">Grid: Medium Voltage Extension</h2>
		  
		  <h3 class="smaller">Medium Voltage Lines</h3> 

		  {% with "Medium Voltage Line cost per meter" as label %}
		  {% with "$/m" as units %}
		  {% with "medium voltage line cost per meter" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  		  
		  <h3 class="smaller">Medium Voltage Lines Replacement</h3> 

		  {% with "Medium Voltage Line Lifetime" as label %}
		  {% with "years" as units %}
		  {% with "medium voltage line lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "Medium Voltage Line O&#38;M cost factor<br />(as fraction of Medium Voltage Line cost)" as label %}
		  {% with "" as units %}
		  {% with "medium voltage line operations and maintenance cost per year as fraction of medium voltage line cost" as key %}
		  {% with "(e.g. 0.02 for 2%)" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  {% endwith %}{% endwith %}		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab Grid -->
		
		<!-- ***  END TAB DIV *** --> 

		
		
		<!-- ***  BEGIN TAB DIV *** --> 
		
		<div class="tabbertab" title="Low voltage distribution"><!-- System: Low voltage distribution --> 
		  
		  <div class="pageblock plain"> 
		    <div class="instructions">Low voltage (mini-grid + grid) distribution network to connect households and institutions.</div><!-- class="instructions" --> 
		  </div><!-- class="pageblock" --> 
		  
		  <h3 class="smaller">Low Voltage Lines</h3> 

		  {% with "distribution" as section %}
		  {% with "w200" as divwidth %}

		  {% with "Low-voltage line cost per meter" as label %}
		  {% with "$/m" as units %}
		  {% with "low voltage line cost per meter" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  <h3 class="smaller">Low Voltage Lines Replacement</h3> 

		  {% with "Low-voltage line lifetime" as label %}
		  {% with "years" as units %}
		  {% with "low voltage line lifetime in years" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}
		  		  
		  <h3 class="smaller">Operation and Maintenance (O&#38;M)</h3> 

		  {% with "Low-voltage O&amp;M cost in dollars per meter" as label %}
		  {% with "$/m" as units %}
		  {% with "low voltage line operations and maintenance cost per meter per year" as key %}
		  {% with "" as instructions %}
		  {% include simple_param_block_template %}
		  {% endwith %}{% endwith %}{% endwith %}{% endwith %}

		  {% endwith %}{% endwith %}		  
		  <div class="visualclear"></div> 
		</div><!-- tabbertab  Low voltage distribution --> 
		
		<!-- ***  END TAB DIV *** --> 
		
		
	      </div><!-- tabber tabber (parametersubgroup) --> 
	    </div><!-- class="pageblock parametersubgroup" --> 
	    <div class="visualclear"></div><!-- ### End Systems groupings ### --> 
	    
	  </div><!-- tabbertab Systems --> 
	  
	  <!-- ***  END TAB DIV *** --> 
	  
	</div><!-- tabber tabber --> 
      </div><!-- (parametergroup) --> 
      <div class="visualclear"></div> 
</div>

